---
layout: page
permalink: /
---

<!-- Slider Start -->
<section id="slider">
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-md-offset-2">
        <div class="block">
          <h1 class="animated fadeInUp">CLOUD &#38; SCALING <br> CONSULTANT</h1>
          <p class="animated fadeInUp">Helping companies of all sizes match their technical stack to their ambitions and customers' needs is what I do. Are you ready to scale up?</p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Wrapper Start -->
<section id="intro">
  <div class="container">
    <div class="row">
      <div class="col-md-7 col-sm-12">
        <div class="block">
          <div class="section-title">
            <h2>HI, I'M SEBASTIAN</h2>
          </div>
          <p>I started programming more than two decades ago, shortly before my age required two digits. In that period, I've had the opportunity to work with various companies, large and small. From re-architecting SaaS platforms used by tens of thousands of people around the world on a daily basis, to protecting a website in the middle of a DDoS attack, and deploying security solutions for banks and governments, I've been lucky to gather experience in a lot of different environments. I've contributed to projects of collossal sizes, and I've helped early stage startups avoid bankruptcy by saving them $50 on their hosting bill.</p>
          <p>I'm also a globetrotter, currently based in beautiful Copenhagen, who builds robots and quadcopters from scratch, just for fun.</p>
        </div>
      </div><!-- .col-md-7 close -->
      <div class="col-md-5 col-sm-12">
        <div class="block">
          <img src="img/wrapper-img.png" alt="Img">
        </div>
      </div><!-- .col-md-5 close -->
    </div>
  </div>
</section>

<section id="feature">
<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-6">
      <h2>HOW I CAN HELP</h2>
      <p>Knowing that your technological stack will scale with your business is a requirement to be successful. I can help identify and fix bottlenecks in your software development processes, in your architecture, or in your code. I can help plan for future growth, and make your platform more robust.</p>
      <p>Over the last 5 years, the software industry has changed massively, with containers, orchestration, and automation at the forefront of every company's tech stack. "Devops" is now used to describe almost every single software team, but what does it actually mean? I can train your team, or build the infrastructure you need.</p>
      <p>And if you're just looking for someone who can build awesome software quickly, I can do that, too :)</p>
    </div>
  </div>
</div>
</section>

<!-- Service Start -->
<section id="service">
  <div class="container">
    <div class="row">
      <div class="section-title">
        <h2>Services</h2>
        <p>This is just a sample selection of things I do on a regular basis. If you have other needs or requests, please feel free to reach out to see how we can work together.</p>
      </div>
    </div>
    <div class="row ">
      <div class="col-sm-6 col-md-3">
        <div class="service-item">
          <i class="ion-help-circled"></i>
          <h4>Demystify technology</h4>
          <p>Translate buzzwords and hype into practical decisions guided by your business' needs.</p>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="service-item">
          <i class="icon ion-android-cloud-done"></i>
          <h4>Cloud</h4>
          <p>Build as much infrastructure as needed to scale, but no more. Keep your running costs under control.</p>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="service-item">
          <i class="ion-code"></i>
          <h4>Software development</h4>
          <p>From small projects to large endeavours, I can reinforce your existing team, or even <em>be</em> your team.</p>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="service-item">
          <i class="ion-network"></i>
          <h4>Networking</h4>
          <p>VPNs, VLANs, reverse proxies, routing tables, firewalls. And yes, even your office Wi-Fi.</p>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="service-item">
          <i class="ion-compass"></i>
          <h4>Technical roadmap</h4>
          <p>You and your team need to know where you are going, but it has to be done at the right time, and at the right pace.</p>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="service-item">
          <i class="ion-ios-infinite"></i>
          <h4>Kubernetes & Devops</h4>
          <p>Deploy a highly-available cluster, allow your team to truly embrace continuous delivery, and provide uptime guarantees to your customers.</p>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="service-item">
          <i class="ion-document-text"></i>
          <h4>Development processes</h4>
          <p>Formalise source code management, implement code review policies, setup code quality tooling.</p>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="service-item">
          <i class="ion-lock-combination"></i>
          <h4>Security and compliance</h4>
          <p>GDPR, data security, encryption. How do you properly secure data, and respect your users' rights?</p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Call to action Start -->
<section id="call-to-action">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="block">
          <h2>I create amazing technical solutions.</h2>
          <p>However, that would be worth nothing in the long run if those solutions didn't also make sense for the business. This is why I always take into account your company's journey when proposing solutions. Solving challenges is my passion, and I'm convinced I can help your organisation. I'm always happy to meet and hear about new and interesting projects of all sizes.</p>
          <a class="btn btn-default btn-call-to-action" href="/contact" >Get in touch</a>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Content Start -->
<section id="testimonial">
  <div class="container">
    <div class="row">
      <div class="section-title text-center">
        <h2>AT A GLANCE</h2>
        <p>It's not easy to express who a person is through a web page, but maybe these some of these will help</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        {% if site.data.funfacts.size > 0 %}
        <div class="block">
          {% for ff in site.data.funfacts %}
          <ul class="counter-box clearfix">
            <li>
              <div class="block">
                <i class="{{ ff.icon }}"></i>
                <h4 class="counter">{{ ff.counter }}</h4>
                <span>{{ ff.text }}</span>
              </div>
            </li>
            {% endfor %}
          </ul>
        </div>
        {% endif %}
      </div>
      <div class="col-md-6">
        {% if site.data.testimonials.size > 0 %}
        <div class="testimonial-carousel">
          <div id="testimonial-slider" class="owl-carousel">
            {% for tm in site.data.testimonials %}
            <div>
                <img src="img/quotation-mark.png" alt="quotation mark">
                <p>{{ tm.testimonial }}</p>
                <div class="user">
                  <img src="{{ tm.image }}" alt="Picture of {{ tm.name }}">
                  <p><span>{{ tm.name }}</span> {{ tm.title }}</p>
                </div>
            </div>
            {% endfor %}
          </div>
        </div>
        {% endif %}
      </div>
    </div>
  </div>
</section>
